<template>
    <small>
        Narrado por Sarkar. Anotado por Anna Zubkova. Traducido por Alfredo Martínez.

        <p>Editado por Vladimir Antonov. Leído por Sebastian Silva.</p>
        <a href="nino-mago.pdf">Descarga el texto en PDF</a>.
        <br>Fuente original y otros cuentos: <a href="https://swami-center.org/es/text/nino-mago/">swami-center.org</a>.
        <br><i>Gracias a los autores / Thanks to the authors.</i>

    </small>
</template>
