<template>
    <div>
      <div id="playlist">
      <button v-if="selected==null" @click="next" id="play">&#9654;</button>
      <template v-for="(item,key) in items">
        <button class="playeritem" :key="'b'+key" @click="select(key)">{{ key }}</button>
        <audio ref="player" @ended="next" :key="'a'+key" v-if="selected==key" style="width: 100%" controls>
          <source v-for="filename in item"
                  :src="filename" :type="'audio/'+filename.slice(-3)">
          </source>
        </audio>
      </template>
      <bunte_kante></bunte_kante>
      </div>
    </div>
</template>

<script lang="python">

class Component:

    def __init__(self):
        self.items = {}
        self.selected = None

    def MOUNTED(self):
        for item in sorted(self['$root'].audioFiles):
            title = item.split(".")[0].replace("_", " ")
            if not isNaN(title.split(" ")[0]):
                title = title[title.indexOf(" "):]
            if self.items.get(title):
                Vue.set(self.items, title, self.items[title] + [item])
            else:
                Vue.set(self.items, title, [item])
        window.control = self

    def select(self, key):
        self.selected = key
        setTimeout(self.play) 

    def next(self):
        keys = self.items.keys()
        if self.selected==None:
            self.selected = keys[0]
        else:
            index = keys.index(self.selected)
            if index + 1 < len(keys):
                self.selected = keys[index+1]
            else:
                self.selected = None
        setTimeout(self.play) 

    def play(self):
        if self.selected:
            player = self['$refs'].player[0]
            player.play()

</script>

<style>

body {
    background-image: url('den-and-klara.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans;
    color: darkblue;
    text-align: center;
    height: 100%;
    margin: 0px;
}
h1 {
    margin: 0px;
}
html {
    height: 100%;
    margin: 0px;
}

</style>

<style scoped>

:scope {
    flex: 1 1 auto;
    overflow-y: auto;
}
#playlist {
    display: flex;
    flex-direction: column;
    padding: 6px;
}
.playeritem {
    height: 35px;
    margin: 2px;
    background-color: lightyellow;
    opacity: 0.5;
    color: blue;
    font-weight: bold;
    font-size: 1em;
}
#play {
    background-color: pink;
    height: 40px;
    font-weight: bold;
    font-size: 1.5em;
}
</style>
